<!DOCTYPE html>
<html>
<head>
	<title>Product</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<!-- Skills and intrest section -->
	<div class="container">
		<div class="sections">
			<h2 class="section-title">Product Details</h2>

				<div class="list-card">
					<div>
						<h3>ชื่อ 
							<%=product.productTitle%>
						</h3>
						<span>รายละเอียด <%=product.productDescription%></span>
						<span>ราคา <%=product.productPrice%> บาท</span>
					</div>
				</div>

		</div>
		</div>

	<br><br>

</body>
</html>